---
layout: page
title: "About"
description: "Hey, this is Linxu."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->

<div class="zh post-container">

    <!--copied from markdown -->
    <!--<blockquote><p>不积跬步 无以至千里<br>
    不积小流 无以成江海</p></blockquote>

    <p>Hey，我是<strong>林广华，我还有另一个好听的名字--林序</strong>，Android开发工程师，现在深圳码代码。</p>

    <p>工作、学习之余，喜欢跑步，看电影，听音乐。</p>

    <p>这是我的个人博客。我在GitHub主页<a href="https://github.com/linguanghua">👉GitHub·Linxu</a> 与 CSDN<a href="http://blog.csdn.net/lin962792501">👉CSDN·Linxu</a></p>

    <p></p>
    
    <h5>Talks</h5>

    <ul>
        <li><a href="https://github.com">GitHub</a></li>
    </ul>-->
    <div id="export_content"><div class="output_wrapper" id="output_wrapper_id"><p></p><center>
<strong>林广华</strong><br>
137-9447-8563 | lin_guang_hua@qq.com | 深圳<br>
微信:13794478563 | https://github.com/linguanghua<br>
在职 | 求职意向:Android应用开发工程师 | 期望薪资:13-18k<br>
</center><p></p>
<h2 id="h"><span>专业技能</span></h2>
<hr>
<ul>
<li><span>有扎实的 Java 基础，良好的编程风格，熟悉面向对象编程思想。</span></li>
<li><span>掌握android四大组件及各个控件，布局方式的使用。</span></li>
<li><span>掌握自定义组合控件中View所经过的测量，布局，绘制的流程。</span></li>
<li><span>掌握使用属性动画，补间动画，帧动画，能根据具体情况，灵活运用。</span></li>
<li><span>掌握 Android 架构下异步消息处理机制(Handler、Message、MessageQueue和Looper)及网络通信机制。</span></li>
<li><span>掌握Android进程间通信Messenger和AIDL。</span></li>
<li><span>熟练使用第三方框架RxAndroid、EvenBus、OkHttp、Retrofit等。</span></li>
<li><span>熟悉Android的数据存储方式(File、SharedPrefrence、Sqlite、ContentProvider、Net)，JSON数据格式的解析(节点解 析,Bean解析，泛型解析)。</span></li>
<li><span>熟练使用 MVC 模式进行项目设计，熟悉单例，工厂模式等常见的设计模式。 </span></li>
<li><span>熟悉 Spring、MyBatis、Hibernate 框架，并有参与设计过项目。 </span></li>
<li><span>熟悉HTML、CSS，对JavaScript有了解，能够使用JQuery库。 </span></li>
<li><span>数据库相关:MySQL/ SQLite</span></li>
<li><span>版本管理、文档和自动化部署工具:Svn/ Git</span></li>
<li><span>掌握Dart语言，熟悉Google最新框架Flutter。 掌握Kotlin语言。</span></li>
</ul>
<h2 id="h-1"><span>工作经历</span></h2>
<hr>
<table>
<thead>
<tr>
<th style="text-align:center;">公司</th>
<th style="text-align:center;">部门</th>
<th style="text-align:center;">职位</th>
<th style="text-align:center;">时间</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center;">康佳集团股份有限公司</td>
<td style="text-align:center;">互联网事业部</td>
<td style="text-align:center;">Android开发工程师</td>
<td style="text-align:center;">2017年7月 - 至今</td>
</tr>
</tbody>
</table>
<p><strong>项目名称:</strong> <strong><em>盈盈彩</em></strong><br><strong>项目简介:</strong> 盈盈彩是一款在TV端购买彩票的应用。彩种包括足彩、大乐透、双色球，高频彩。采用TV端作为途径，将彩民的需求 在客厅呈现。</p>
<p><strong>职责:</strong> 参与前期的需求分析，主要负责首页，TV端双色球、大乐透投注、走势图功能，投注记录及常见问题等模块UI及交互功能实 现，与后端数据对接，大数据埋点(友盟、百度等);同时参与编写后端Java Web接口及定时任务代码。项目迭代版本:1.0、 1.1、1.2、1.2.1、1.2.2、1.3、2.1。</p>
<p><strong>技术要点:</strong></p>
<ol>
<li><span>RecyclerView实现瀑布流，ViewPage切换趋势图。</span></li>
<li><span>使用环信通过扫描二维码链接TV端与手机端H5页面，进行信息交互，如:TV端退出登陆，H5也同时退出登陆。</span></li>
<li><span>编写根据用户选球数、购买倍数及追期数计算注数及金额数的算法。</span></li>
<li><span>通过封装好的OkHttp和RxAndroid异步访问网络，获取json数据，并通过gson解析获取到的json数据。</span></li>
<li><span>趋势图信息以文件的形势从服务器读取到本地，读取前检测文件信息是否改变判定文件是否更新，然后决定文件是否需要重新 下载。最新一次读取的文件信息通过SQLite存储在本地。应用读取本地文件数据展现给用户。</span></li>
<li><span>编写高频彩彩票定制接口，根据彩票类型的不同，为用户定制并推送彩票。</span></li>
<li><span>编写后台定时任务通知用户使用红包。编写定时任务抓取世界杯猜冠军数据，保存到数据库。</span></li>
</ol>
<p>  <strong>时间:2017.08-至今</strong></p>
<p><strong>项目名称:</strong> <strong><em>司庆活动容器APP</em></strong></p>
<p><strong>项目简介:</strong> 为迎接集团38周年，配合集团“新起点、新动能、新格局”的主题战略，为增加TV端用户活跃，创造营销事件，增加用 户粘性，扩大品牌知名度，增加增值业务营收，计划在TV研发的一款活动类型APP。</p>
<p><strong>职责:</strong> 参与项目的整个需求分析，一个人独立完成APP开发工作及大数据埋点。</p>
<p><strong>技术要点:</strong></p>
<ol>
<li><span>项目实现一个全屏蛋糕现实在TV上，用户点击遥控为康佳点燃蜡烛。使用到属性动画及View动画。 </span></li>
<li><span>跳转第三方应用，应用不存在需自动下载安装。</span></li>
</ol>
<p>  <strong>时间:2018.05.02 - 2018.05.18</strong></p>
<p><strong>项目名称:</strong> <strong><em>4G微投KONKA_H2应用移植</em></strong></p>
<p><strong>项目简介:</strong> 4G微投KONKA_H2是康佳旗下的一款智能微型投影仪，将康佳自主研发的YIUI易柚系统应用于H2。</p>
<p><strong>职责:</strong> 负责将易柚系统的Launcher、设置中心两个应用在KONKA_H2上适配。工作内容包括:UI适配，对接中间件，开发与4G相 关业务功能。</p>
<p><strong>技术要点:</strong></p>
<ol>
<li><span>对比适配好的其他设备，根据分辨率及dpi的差别，计算在H2上的控件大小等相关数值。 </span></li>
<li><span>判断网络类型(Wi-Fi or 4G)。获取4G环境下的的dbm值，根据这个值判断信号强度。 </span></li>
</ol>
<p>  <strong>时间:2018.07-2018.10</strong></p>
<h2 id="h-2"><span>开源项目及文章</span></h2>
<hr>
<p><strong>技术文章</strong></p>
<ol>
<li><a href="https://github.com/linguanghua">GitHub</a></li>
<li><a href="https://blog.csdn.net/lin962792501">CSDN</a></li>
</ol>
<h2 id="h-3"><span>教育经历</span></h2>
<hr>
<p><strong>学校</strong></p>
<table>
<thead>
<tr>
<th style="text-align:center;">学校</th>
<th style="text-align:center;">学院</th>
<th style="text-align:center;">专业</th>
<th style="text-align:center;">学历</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center;"><strong>华中师范大学</strong></td>
<td style="text-align:center;"><strong>物联网工程</strong></td>
<td style="text-align:center;"><strong>计算机学院</strong></td>
<td style="text-align:center;"><strong>本科</strong></td>
</tr>
</tbody>
</table>
<p><strong>成绩</strong></p>
<table>
<thead>
<tr>
<th style="text-align:left;">指标</th>
<th style="text-align:right;">成绩</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><strong>GPA:</strong></td>
<td style="text-align:right;">3.5/ 4.0(专业前5%)</td>
</tr>
<tr>
<td style="text-align:left;"><strong>CET4:</strong></td>
<td style="text-align:right;"> 434</td>
</tr>
</tbody>
</table>
<h2 id="h-4"><span>荣誉奖项</span></h2>
<hr>
<table>
<thead>
<tr>
<th style="text-align:left;">奖项名称</th>
<th style="text-align:right;">时间</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">第二届全国高校物联网创新应用大赛编程挑战赛二等奖</td>
<td style="text-align:right;">2015-10</td>
</tr>
<tr>
<td style="text-align:left;">华中师范大学优秀毕业生</td>
<td style="text-align:right;">2017-06</td>
</tr>
</tbody>
</table></div></div>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

